/* loading-page */
#loading-page{
    display: none;

}
#loading-page .loading-page-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: -0.2vw;
    font-size: var(--font-size--h1);
    font-weight: var(--font-weght-bold);
    line-height: 1.1;
}
#loading-page .loading-page-inner h1{
    margin-bottom: calc(var(--font-size--h1) / 3);
    font-weight: var(--font-weght-bold);
}
#loading-page .loading-page-inner h1 .num{
    padding: 0 calc(var(--font-size--h1) / 2);
    font-family: var(--font-family--italic);
    font-weight: 300;
    font-size: calc(var(--font-size--h1) / 2.2);
    vertical-align: top;
}
#loading-pag .loading-page-inner p .change.on{
    font-family: var(--font-family--italic);
    font-weight: 300;
    color: transparent;
    -webkit-text-stroke: 1px #fff;    
}