/* projects.css */
/* 공통-pc */
.projects-inner h1{position: relative; left: 350px; top: 0px;padding-bottom: 50px;}
.projects-inner h1::after{position: absolute; left: 0; bottom: 0; content: ""; width: 100%; height: 1px;background: #fff;}
.projects-inner .pc{position: relative; display: flex;flex-direction: column;  max-width: 1650px;}
.projects-inner .pc>div{position: relative; display: flex; padding: 70px 0;}
.projects-inner .pc>div .project-img{position: relative; display: inline-block; margin-top: 50px;}
.projects-inner .pc>div .project-img .device{width: 750px;}
.projects-inner .pc>div .project-img .product{z-index: -1; position: absolute; left: 160px; top: 70px; width: 520px;}
.projects-inner .pc>div .description{max-width: 600px; margin: 130px 50px 0 50px;}
.projects-inner .pc>div .description h2{position: relative; padding-bottom: 30px; font-size: var(--font-size--large);font-weight: var(--font-weght-semibold);}
.projects-inner .pc>div .description dl{position: relative;left: 0px; display: flex;padding: 7.5px 0;}
.projects-inner .pc>div .description dl:not(.text){word-break: keep-all;}
.projects-inner .pc>div .description dl dt{width: 170px; font-weight: var(--font-weght-bold);}
.projects-inner .pc>div .description dl.text{padding-top: 30px; padding-bottom: 30px;}
.projects-inner .pc>div .description .site{display: flex; justify-content: space-between; margin-top: 10px; padding-top: 25px; border-top: 1px solid #fff;}

/* pc-project1 */
.projects-inner .pc .project-1 .project-img{margin-left: -50px;}
.projects-inner .project .project-1 .description{margin-right: 100px;}
/* pc-project2*/
.projects-inner .pc .project-2{justify-content: flex-end;}
.projects-inner .pc .project-2 .project-img{order: 2;}
.projects-inner .pc .project-2 .description{order: 1; margin-left: 90px;}
/* pc-project3 */
.projects-inner .pc .project-3 .project-img{margin-left: -50px;}
.projects-inner .pc .project-3 .description{margin-right: 100px;}

/* 공통-mobile */
.projects-inner .mobile{position: relative; display: flex;flex-direction: column; padding-right: 50px; padding-top: 50px; max-width: 1650px;}
.projects-inner .mobile>div{display: flex; padding: 100px 0;}
.projects-inner .mobile>div .project-img{position: relative; display: inline-flex;}
.projects-inner .mobile>div .project-img figure{position: relative;}
.projects-inner .mobile>div .project-img figure .device{width: 220px;}
.projects-inner .mobile>div .project-img figure .product{z-index: -1; position: absolute;left: 17px; top: 15px; width: 185px;}
.projects-inner .mobile>div .description{max-width: 600px; margin: 70px 50px 0 50px;}
.projects-inner .mobile>div .description h2{position: relative; padding-bottom: 30px; font-size: var(--font-size--large);font-weight: var(--font-weght-semibold);}
.projects-inner .mobile>div .description dl{position: relative;left: 0px; display: flex;padding: 7.5px 0;}
.projects-inner .mobile>div .description dl:not(.text){word-break: keep-all;}
.projects-inner .mobile>div .description dl dt{width: 170px; font-weight: var(--font-weght-bold);}
.projects-inner .mobile>div .description dl.text{padding-top: 30px; padding-bottom: 30px;}
.projects-inner .mobile>div .description .site{display: flex; justify-content: space-between; margin-top: 10px; padding-top: 25px; border-top: 1px solid #fff;}

/* mobile-project1 */
.projects-inner .mobile .project-1{justify-content: flex-end;}
.projects-inner .mobile .project-1 .project-img{order: 2;}
.projects-inner .mobile .project-1 .description{order: 1; margin-left: 90px;}
