@import url(reset.css);
@import url(loading.css);
@import url(about.css);
@import url(projects.css);

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');


/* custom variables */
:root{
    --font-family--italic: 'PT Serif', serif;
    --font-family--normal:'Gothic A1', sans-serif;
    --font-weght-bold: 700;
    --font-weght-semibold: 500;
    --font-size--h1: 7vmax;
    --font-size--large: 40px;
    --font-size--medium: 30px;
    --font-size--small: 20px;
    --font-size--text: 16px;
    --space--large: 80px;
}

/* common */
body{
    font-family: var(--font-family--normal);
    background: #151515;
    color: #fff;
    word-break: break-all;

}
a{
    color: #fff;
    text-decoration: none;
}

/* layout */
.inner{
    padding: 0 100px;
}
#loading-page{
    position: ;
    width: 100%;
    height: 100vh;
}
#wrap{
    width: 100%;
    height: 100%;
}
#header{
    padding: 50px 0;
    width: 100%;
}
#main{
    width: 100%;
}
#main>section{
    padding: 100px 0;
    width: 100%;
}
#footer{
    width: 100%;
}

/* header */
.header-inner{
    display: flex;
    font-size: var(--font-size--text);
}
.header-inner>h1{
    flex: 1;
    font-family: 'Noto Serif Display', serif;
    line-height: 1;
    letter-spacing: 0.1px;
    font-weight: var(-font-weght-bold);
    font-size: var(--font-size--medium);
}
.header-inner>span{
    flex: 2;
}
.header-inner>nav{
    flex: 1;

}
.header-inner>nav>ul{
    display: flex;
    justify-content: space-between;
}

/* main */
#main h1{
    padding-bottom: calc(var(--font-size--h1) * 0.5);
    /* margin-bottom: var(--space--large); */
    width: 70vw;
    /* border-bottom: 1px solid #fff; */
    text-transform: uppercase;
    letter-spacing: -0.2vw;
    font-size: var(--font-size--h1);
    font-weight: var(--font-weght-bold);
}
